body {
    padding: 40px;
}
.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center
}
.comment {
    margin-top: 10em;
    margin-bottom: 10em;
}
.content {
    padding-left: 15px;
    padding-right: 15px;
}
.h-scroll {
    overflow-x: auto;
}