{% extends "base.html" %}

{% block content %}
    {% if photo %}
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <div class="center-block">
                    <img src="{{ url_for('static', filename = photo[1]) }}" width="500"/>
                    <br/>
                    Caption: {{ photo[0] }}
                    <br/>
                    <br/>
                    Comments:
                    {% for comment in photo[4] %}
                        <div class="col-sm-6 border rounded center-block">
                            {{ comment }}
                        </div>
                    {% endfor %}
                    <br/>
                    <br/>
                    <br/>
                    {% if login %}
                        <form action='{{ request.path }}' method='POST' id="photocomment" class="center-block">
                            <div class="form-group">
                                <label for="comment">Add comment</label><br/>
                                <textarea name='comment' class="form-control comment" placeholder='add comment'
                                          form="photocomment" rows="3" required></textarea>
                            </div>
                            <input type='submit' value='Post' class="btn btn-outline-primary"/>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    {% endif %}

{% endblock %}