{% extends "base.html" %}

{% block content %}
    {% if email %}
        <h4 style="color: red"> Email already in use! Use another one or <a href="/login">login</a></h4>
    {% endif %}
    {% if date %}
        <h4 style="color: red"> Please enter Date of Birth in YYYY-MM-DD format!</h4>
    {% endif %}
    {% if datebig %}
        <h4 style="color: red"> Please enter a valid Date of Birth!</h4>
    {% endif %}
    <div class="title">
        <h1>Enter your information below</h1>
    </div>
    <div id="content" class="well bs-component col-lg-5">
        <form method="POST" action="{{ url_for("register_user") }}">
            <table class="table table-responsive">
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" id="email" placeholder="email" required class="form-control" /></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password" id="password" required class="form-control" /></td>
                </tr>
                <tr>
                    <td><label for="firstname">First Name:</label></td>
                    <td><input type="text" name="firstname" id="firstname" required class="form-control" /></td>
                </tr>
                <tr>
                    <td><label for="lastname">Last Name:</label></td>
                    <td><input type="text" name="lastname" id="lastname" required class="form-control" /></td>
                </tr>
                <tr>
                    <td><label for="dateOfBirth">Date of Birth:</label></td>
                    <td><input type="text" name="dateOfBirth" id="dateOfBirth" placeholder="yyyy-mm-dd" required class="form-control" /></td>
                </tr>
                <tr>
                    <td><label for="homeTown">Home Town:</label></td>
                    <td><input type="text" name="homeTown" id="homeTown" class="form-control" /></td>
                </tr>
                <tr>
                    <td><label for="gender">Gender:</label></td>
                    <td>
                        <input type="radio" name="gender" value="M" checked /> Male<br>
                        <input type="radio" name="gender" value="F" /> Female<br>
                        <input type="radio" name="gender" value="O" /> Other
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <p>
                <input type="submit" value="Register" class="btn btn-outline-primary" />
            </p>
        </form>
    </div>
{% endblock %}