{% extends "base.html" %}

{% block content %}

    <table border="0">
        {% if album_name and album_id %}
            <form method="POST" action="/view">
                <tr>
                    <td><label for="name">Album name:</label></td>
                    <td><input type="text" name="name" id="name" value="{{ album_name }}" class="form-control" /></td>
                </tr>
                <tr>
                    <td><input type="hidden" name="id" id="id" value="{{ album_id }}"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Rename" class="btn btn-outline-secondary"/></td>
                    <td></td>
                </tr>
            </form>

            <form method="POST" action="/deletealbum">
                <tr>
                    <td><input type="hidden" name="id" value="{{ album_id }}"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Delete" class="btn btn-outline-danger"/></td>
                    <td></td>
                </tr>
            </form>
        {% endif %}
    </table>
    <br/>

    {% if photos %}
        <h2>Photos in this album</h2>
        <div class="row well bs-component">
            {% for photo in photos %}
                <div class="col-lg-3">
                    <a href="/view/{{ photo[2] }}/{{ photo[3] }}">
                        <div class="center-block">
                            <img src="{{ url_for("static", filename = photo[1]) }}" class="rounded" width="300"/><br/>
                            Caption: {{ photo[0] }} <br/><br/>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}